@{
	ViewData["Title"] = "Hesap Aktivasyonu";
	Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="contact-form-area pb--120">
	<div class="container">
		<div class="row">
			<div class="col-md-10 offset-md-1">
				<div class="cnt-title">
					<h4>Hesabınız <span>aktif değil</span></h4>
					<p>Kaydınız oluşturuldu. Hesabınızın yönetici tarafından onaylanması ardından sisteme giriş yapabilirsiniz.</p>
				</div>
			</div>
		</div>
	</div>
</div>