@using entity.Concrate
@model List<Teacher>
@{
	ViewData["Title"] = "Öğretmen";
	Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<div class="all-teachers  pt--120 pb--70">
	<div class="container">
		<div class="row">
			<div class="col-lg-4 col-md-6">
				@foreach (var t in Model)
				{
					<div class="card mb-5">
						<img src="@t.PrePhotoURL" alt="image">
						<div class="card-body teacher-content p-25">
							<h4 class="card-title mb-1"><a href="/Teachers/Details/@t.Teacher_Id">@t.FirstName <b>@t.LastName</b></a></h4>
							@foreach (var item in ViewBag.Lesson)
							{
								if (item.Lesson_Id == t.Lesson_Id)
								{
									<span class="primary-color d-block mb-4">@item.Name Dersi Öğretmeni</span>
								}
							}
							<a href="/Admin/Teacher/TeacherGet/@t.Teacher_Id"><i class="fa fa-pencil">  DÜZENLE</i></a><br />
							<a href="/Admin/Teacher/TeacherDelete/@t.Teacher_Id"><i class="fa fa-trash text-danger">  SİL</i></a>
						</div>
					</div>
				}
				<div class="card mb-5">
					<img class="card-img-top" src="~/template/assets/images/blog/add.png" alt="image">
					<div class="card-body p-25">
						<h4 class="card-title mb-4"><a href="/Admin/Teacher/TeacherAdd">Öğretmen Ekle</a></h4>
						<a class="btn btn-success btn-round btn-sm" href="/Admin/Teacher/TeacherAdd">ÖĞRETMEN EKLE</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>