@model ErrorViewModel
@{
	ViewData["Title"] = "Hata!";
	Layout = "~/Views/Shared/_Layout.cshtml";
}
@await Html.PartialAsync("~/Views/Partials/_ErrorCrumbsPartial.cshtml")
<div class="error-area ptb--120">
	<div class="container">
		<div class="error-content">
			<img src="~/template/assets/images/404.png" alt="image">
			<h2>Sayfa Bulunamadı</h2>
			<p>Aradığınız sayfa mevcut değil veya kaldırılmış. Aşağıdaki düğmeyi kullanarak anasayfaya gitmeyi deneyin.</p>
			<a class="btn btn-primary btn-round" href="/Home/Index">Anasayfaya Dön</a>
		</div>
	</div>
</div>