<div class="course-area  pt--120 pb--70">
	<div class="container">
		<div class="row">
			<div class="col-md-6">
				<div class="section-title">
					<span class="text-uppercase">Build your career</span>
					<h2>Featured Courses </h2>
				</div>
			</div>
		</div>

		<div class="commn-carousel owl-carousel card-deck">
			<div class="card mb-5">
				<div class="course-thumb">
					<img src="~/template/assets/images/course/cs-img1.jpg" alt="image">
					<span class="cs-price primary-bg">$150</span>
				</div>
				<div class="card-body  p-25">
					<div class="course-meta-title mb-4">
						<div class="course-meta-text">
							<h4><a href="course-details.html">Application Design Course</a></h4>
							<ul class="course-meta-stats">
								<li><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-half"></i></li>
								<li>36 <i class="fa fa-comment"></i></li>
								<li>85 <i class="fa fa-heart"></i></li>
							</ul>
						</div>
						<a href="course-details.html"><img class="course-meta-thumbnail rounded-circle" src="~/template/assets/images/author/auth1.jpg" alt="image"> </a>
					</div>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sciunt. Neque quisquam est, qui dolorem ipsum tatem.</p>
					<ul class="course-meta-details list-inline  w-100">
						<li>
							<p>Course</p>
							<span>3 Year</span>
						</li>
						<li>
							<p>Class Size</p>
							<span>18</span>
						</li>
						<li>
							<p>Duration</p>
							<span>1 hour</span>
						</li>
					</ul>
				</div><!-- card-body -->
			</div><!-- card -->

			<div class="card mb-5">
				<div class="course-thumb">
					<img src="~/template/assets/images/course/cs-img2.jpg" alt="image">
					<span class="cs-price primary-bg">$150</span>
				</div>
				<div class="card-body  p-25">
					<div class="course-meta-title mb-4">
						<div class="course-meta-text">
							<h4><a href="course-details.html">Data Structure & Algorithm</a></h4>
							<ul class="course-meta-stats">
								<li><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-half"></i></li>
								<li>36 <i class="fa fa-comment"></i></li>
								<li>85 <i class="fa fa-heart"></i></li>
							</ul>
						</div>
						<a href="course-details.html"><img class="course-meta-thumbnail rounded-circle" src="~/template/assets/images/author/auth1.jpg" alt="image"> </a>
					</div>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sciunt. Neque quisquam est, qui dolorem ipsum tatem.</p>
					<ul class="course-meta-details list-inline  w-100">
						<li>
							<p>Course</p>
							<span>3 Year</span>
						</li>
						<li>
							<p>Class Size</p>
							<span>18</span>
						</li>
						<li>
							<p>Duration</p>
							<span>1 hour</span>
						</li>
					</ul>
				</div><!-- card-body -->
			</div><!-- card -->

			<div class="card mb-5">
				<div class="course-thumb">
					<img src="~/template/assets/images/course/cs-img3.jpg" alt="image">
					<span class="cs-price primary-bg">$150</span>
				</div>
				<div class="card-body  p-25">
					<div class="course-meta-title mb-4">
						<div class="course-meta-text">
							<h4><a href="course-details.html">Android App Development</a></h4>
							<ul class="course-meta-stats">
								<li><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-half"></i></li>
								<li>36 <i class="fa fa-comment"></i></li>
								<li>85 <i class="fa fa-heart"></i></li>
							</ul>
						</div>
						<a href="course-details.html"><img class="course-meta-thumbnail rounded-circle" src="~/template/assets/images/author/auth1.jpg" alt="image"> </a>
					</div>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sciunt. Neque quisquam est, qui dolorem ipsum tatem.</p>
					<ul class="course-meta-details list-inline  w-100">
						<li>
							<p>Course</p>
							<span>3 Year</span>
						</li>
						<li>
							<p>Class Size</p>
							<span>18</span>
						</li>
						<li>
							<p>Duration</p>
							<span>1 hour</span>
						</li>
					</ul>
				</div><!-- card-body -->
			</div><!-- card -->
		</div>
	</div>
</div>