<!-- cta area start -->
<div class="cta-area primary-bg has-color ptb--50">
	<div class="container">
		<div class="row align-items-center">
			<div class="col-md-9">
				<div class="cta-content">
					<p class="mb-2">Eğitimlere ulaşmak için aramıza katılın</p>
					<h2>SİZİ ARAMIZDA GÖRMEK İSTİYORUZ !</h2>
				</div>
			</div>
			<div class="col-md-3">
				<div class="cta-btn">
					<a class="btn btn-light btn-round" href="/Register/Index">KAYDOL</a>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- cta area end -->