@{
	ViewData["Title"] = "Kurum";
	Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<section class="front-product section-padding">
	<div class="container-fluid p-0">
		<div class="row align-items-center">

			<div class="col-lg-5 col-12 m-5">
				<img src="~/template/assets/images/p1.jpg" class="img-fluid" alt="">
			</div>

			<div class="col-lg-6 col-12">
				<div class="px-5 py-5 py-lg-0">
					<h2 id="ohgTitle" class="mb-4">Yapabileceğiniz İşlemler</h2>
					<ul>
						<li id="ohgList2">
							<a href="/Admin/Teacher/Index" class="custom-link">
								Öğretmen İşlemleri
								<i class="fa fa-arrow-right mt-1 ms-2"></i><br />
							</a>
						</li>
						<li id="ohgList2">
							<a href="/Admin/Student/Index" class="custom-link">
								Öğrenci İşlemleri
								<i class="fa fa-arrow-right mt-1 ms-2"></i><br />
							</a>
						</li>
						<li id="ohgList2">
							<a href="/Admin/Parent/Index" class="custom-link">
								Veli İşlemleri
								<i class="fa fa-arrow-right mt-1 ms-2"></i><br />
							</a>
						</li>
						<li id="ohgList2">
							<a href="/Admin/Adress/Index" class="custom-link">
								Adres İşlemleri
								<i class="fa fa-arrow-right mt-1 ms-2"></i><br />
							</a>
						</li>
						<li id="ohgList2">
							<a href="/Admin/Lesson/Index" class="custom-link">
								Ders İşlemleri
								<i class="fa fa-arrow-right mt-1 ms-2"></i><br />
							</a>
						</li>
						<li id="ohgList2">
							<a href="/Admin/Class/Index" class="custom-link">
								Sınıf İşlemleri
								<i class="fa fa-arrow-right mt-1 ms-2"></i><br />
							</a>
						</li>
						<li id="ohgList2">
							<a href="/Admin/Schedule/Index" class="custom-link">
								Ders Programı İşlemleri
								<i class="fa fa-arrow-right mt-1 ms-2"></i><br />
							</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</section>