@model entity.Concrate.Subscribe
<div class="widget widget-subscribe">
	<h4 class="widget-title">ABONELİK</h4>
	<div class="subscribe">
		<p>E-Posta bültenimize kaydolun.</p>
		<form method="post">
			<input type="email" asp-for="Email" placeholder="E-Posta Adresiniz">
			<button type="submit">ABONE OL</button>
		</form>
	</div>
</div>