	<!-- header area start -->
<header id="header">
	<!-- header top area start -->
	<div class="header-top">
		<div class="container">
			<div class="row d-flex flex-center">
				<div class="col-sm-9">
					<div class="ht-address">
						<ul>
							<li><a href="mailto:info@zekaatolyesi.com"><i class="fa fa-envelope"></i>info@zekaatolyesi.com</a></li>
						</ul>
					</div>
				</div>
				<div class="col-sm-3">
					<div class="ht-address">
						<ul>
							<li><a href="tel:+904444444"><i class="fa fa-phone"></i>+ 90 444 4 444</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- header top area end -->
	<!-- header bottom area start -->
	<div class="header-bottom">
		<div class="container">
			<div class="header-bottom-inner">
				<div class="row align-items-center">
					<div class="col-lg-3 col-sm-9">
						<div class="logo">
							<a href="/Admin/Home/Index"><img src="~/template/assets/images/icon/logo.png" alt="logo"></a>
						</div>
					</div>
					<div class="col-xl-8 col-lg-7 d-none d-lg-block">
						<div class="main-menu">
							<nav>
								<ul id="m_menu_active">
									<li><a href="/Admin/Quick/StudentAdd">HIZLI KAYIT </a></li>
									<li>
										<a href="/Admin/Home/Workplace">KURUM İŞLEMLERİ</a>
										<ul class="submenu">
											<li><a href="/Admin/Teacher/Index">ÖĞRETMEN İŞLEMLERİ</a></li>
											<li><a href="/Admin/Student/Index">ÖĞRENCİ İŞLEMLERİ</a></li>
											<li><a href="/Admin/Parent/Index">VELİ İŞLEMLERİ</a></li>
											<li><a href="/Admin/Adress/Index">ADRES İŞLEMLERİ</a></li>
											<li><a href="/Admin/Lesson/Index">DERS İŞLEMLERİ</a></li>
											<li><a href="/Admin/Class/Index">SINIF İŞLEMLERİ</a></li>
											<li><a href="/Admin/Schedule/Index">DERS PROGRAMI İŞLEMLERİ</a></li>
										</ul>
									</li>
									<li>
										<a href="/Admin/Home/System">SİSTEM İŞLEMLERİ</a>
										<ul class="submenu">
											<li><a href="/Admin/Blog/Index">BLOG İŞLEMLERİ</a></li>
											<li><a href="/Admin/Contact/Index">İLETİŞİM İŞLEMLERİ</a></li>
											<li><a href="/Admin/Bulletin/Index">BÜLTEN İŞLEMLERİ</a></li>
										</ul>
									</li>
									<li>
										<a href="/Admin/Home/User">KULLANICI İŞLEMLERİ</a>
										<ul class="submenu">
											<li><a href="/Admin/User/Role">YETKİ İŞLEMLERİ</a></li>
											<li><a href="/Admin/Profile/Index">PROFİL İŞLEMLERİ</a></li>
										</ul>
									</li>
									<li class="active"><a href="/Home/Index">ÇIKIŞ YAP</a></li>
								</ul>
							</nav>
						</div>
					</div>
					<div class="col-12 d-block d-lg-none">
						<div id="mobile_menu"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- header bottom area end -->
</header>
<!-- header area end -->
<!-- body overlay area start -->
<div class="body_overlay"></div>
<!-- body overlay area end -->
