<!-- about area start -->
<div class="about-area ptb--120">
	<div class="container">
		<div class="row">
			<div class="col-lg-6">
				<div class="about-left-content">
					<div class="section-title">
						<span class="text-uppercase">about us</span>
						<h2>Welcome to</h2><h2><span>Our </span> <span class="primary-color">university</span></h2>
					</div>
					<p>Eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia incidunt ut labore et dolore magnam aliquam quaerat voluptatem.</p>
					<a class="btn btn-primary btn-round" href="#">Read more</a>
				</div>
			</div>
			<div class="col-lg-6">
				<div class="abt-right-thumb">
					<div class="abt-rt-inner">
						<a class="expand-video" href="https://www.youtube.com/watch?v=cdfMgotGKIM"><i class="fa fa-play"></i></a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- about area end -->