<!-- about area start -->
<div class="about-area ptb--120">
	<div class="container">
		<div class="row">
			<div class="col-lg-6">
				<div class="about-left-content">
					<div class="section-title">
						<span class="text-uppercase">HAKKIMIZDA</span>
						<h2><span>Zeka </span> <span class="primary-color">Atölyesine</span><h2>Hoşgeldiniz</h2></h2>
					</div>
					<p>Zeka Atölyesi Dershanesi, öğrencilere geniş bir akademik yelpazede başarı elde etmeleri için ilham verici bir ortam sunar. Öğrenmeyi sadece bilgi aktarımı olarak değil, aynı zamanda keşif ve yaratıcılık süreci olarak gören bir anlayışla hareket eder. Öğrencilerin bireysel potansiyellerini keşfetmelerine ve geliştirmelerine olanak tanırken, deneyimli eğitmen kadrosuyla desteklenen yenilikçi yöntemlerle öğrenme deneyimini zenginleştirir.</p>
					<a class="btn btn-primary btn-round" href="/Register/Index">KAYDOL</a>
				</div>
			</div>
			<div class="col-lg-6">
				<div class="abt-right-thumb">
					<div class="abt-rt-inner">
						<a class="expand-video" href="https://www.youtube.com/watch?v=cdfMgotGKIM"><i class="fa fa-play"></i></a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- about area end -->