@using entity.Concrate
@model Comment
<div class="leave-comment-area">
	<h4 class="comment-title">Bir Yorumda Bulunun</h4>
	<form method="post">
		<div class="row">
			<div class="col-md-6">
				<input type="text" asp-for="Name" placeholder="İsminiz">
			</div>
			<div class="col-md-6">
				<input type="email" asp-for="Email" placeholder="E-Posta Adresiniz">
			</div>
		</div>
		<textarea asp-for="Text" placeholder="Yorumunuz"></textarea>
		<button class="btn btn-primary btn-round" type="submit">YORUMU GÖNDER <i class="fa fa-long-arrow-right"></i></button>
	</form>
</div>