<div class="slider-area owl-carousel has-color">
	<div class="slider_item" id="ohgSlide1">
		<div class="container">
			<div class="row">
				<div class="col-lg-7 col-md-9">
					<div class="slider-content">
						<h3>ZEKA ATÖLYESİ</h3>
						<h1><span class="primary-color">BİLGİYLE DONAN</span> BAŞARIYA YÜRÜ</h1>
						<p>Zeka Atölyesi Dershanesi, öğrencilerin yaratıcılığını ve akademik potansiyelini en üst düzeye çıkarmak için özgün ve yenilikçi eğitim yaklaşımları sunar.</p>
						<a class="btn btn-primary btn-round btn-lg mt-5" href="/Register/Index">KAYDOL</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="slider_item" id="ohgSlide2">
		<div class="container">
			<div class="row">
				<div class="col-lg-7 col-md-9">
					<div class="slider-content">
						<h3>ZEKA ATÖLYESİ</h3>
						<h1><span class="primary-color">BİLGİYLE DONAN</span> BAŞARIYA YÜRÜ</h1>
						<p>Zeka Atölyesi Dershanesi, öğrencilere ilham veren bir öğrenme ortamı sağlayarak bilgiyi keşfetmelerine ve başarıya ulaşmalarına yardımcı olur.</p>
						<a class="btn btn-primary btn-round btn-lg mt-5" href="/Register/Index">KAYDOL</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="slider_item" id="ohgSlide3">
		<div class="container">
			<div class="row">
				<div class="col-lg-7 col-md-9">
					<div class="slider-content">
						<h3>ZEKA ATÖLYESİ</h3>
						<h1><span class="primary-color">BİLGİYLE DONAN</span> BAŞARIYA YÜRÜ</h1>
						<p>Zeka Atölyesi Dershanesi, öğrencilerin öğrenme sürecine yenilikçi yaklaşımlarla rehberlik ederek potansiyellerini en üst seviyeye çıkarmayı hedefler.</p>
						<a class="btn btn-primary btn-round btn-lg mt-5" href="/Register/Index">KAYDOL</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>