<div class="take-toure-area ptb--120">
	<div class="container">
		<div class="row">
			<div class="col-md-8 offset-md-2">
				<div class="section-title sec-style-two">
					<img class="title-top-shape" src="~/template/assets/images/icon/title-top-shape.png" alt="image">
					<span class="text-uppercase" id="ohgWhite">ÖNİZLEME</span>
					<h2 id="ohgWhite">Eğitimimiz hakkında önizleme</h2>
				</div>
			</div>
		</div>
		<div class="video-area">
			<a class="expand-video" href="https://www.youtube.com/watch?v=cdfMgotGKIM"><i class="fa fa-play"></i></a>
		</div>
	</div>
</div>