<div class="all-teachers  pt--120 pb--70">
	<div class="container">
		<div class="row">
			<div class="col-lg-4 col-md-6">
				<div class="card mb-5">
					<img src="~/template/assets/images/teacher/teacher-member1.jpg" alt="image">
					<div class="card-body teacher-content p-25">
						<h4 class="card-title mb-1"><a href="teacher-details.html">Patrick Garner Dony</a></h4>
						<span class="primary-color d-block mb-4">Economist</span>
						<p class="card-text">We’re a philosophical bunch here at School site and we have thought long and hard about.</p>
					</div>
				</div><!-- card -->
			</div>
		</div>
	</div>
</div>