<!-- teacher area start -->
<div class="teacher-area pb--70">
	<div class="container">
		<div class="row">
			<div class="col-lg-5 col-md-6">
				<div class="section-title">
					<span class="text-uppercase">Learn from best</span>
					<h2>Our Teachers</h2>
				</div>
			</div>
		</div>
		<div class="commn-carousel owl-carousel card-deck">
			<div class="card mb-5">
				<img src="~/template/assets/images/teacher/teacher-member1.jpg" alt="image">
				<div class="card-body teacher-content p-25">
					<h4 class="card-title mb-4"><a href="teacher-details.html">Patrick Garner Dony</a></h4>
					<span class="primary-color font-italic d-block mb-3">Economist</span>
					<p class="card-text">We’re a philosophical bunch here at School site and we have thought long and hard about.</p>
					<ul class="list-inline">
						<li><a href="#"><i class="fa fa-facebook"></i></a></li>
						<li><a href="#"><i class="fa fa-twitter"></i></a></li>
						<li><a href="#"><i class="fa fa-dribbble"></i></a></li>
						<li><a href="#"><i class="fa fa-deviantart"></i></a></li>
						<li><a href="#"><i class="fa fa-github"></i></a></li>
					</ul>
				</div>
			</div><!-- card -->

			<div class="card mb-5">
				<img src="~/template/assets/images/teacher/teacher-member2.jpg" alt="image">
				<div class="card-body teacher-content p-25">
					<h4 class="card-title mb-4"><a href="teacher-details.html">Cameron Brown</a></h4>
					<span class="primary-color font-italic d-block mb-3">Financier</span>
					<p class="card-text">We’re a philosophical bunch here at School site and we have thought long and hard about.</p>
					<ul class="list-inline">
						<li><a href="#"><i class="fa fa-facebook"></i></a></li>
						<li><a href="#"><i class="fa fa-twitter"></i></a></li>
						<li><a href="#"><i class="fa fa-dribbble"></i></a></li>
						<li><a href="#"><i class="fa fa-deviantart"></i></a></li>
						<li><a href="#"><i class="fa fa-github"></i></a></li>
					</ul>
				</div>
			</div><!-- card -->

			<div class="card mb-5">
				<img src="~/template/assets/images/teacher/teacher-member3.jpg" alt="image">
				<div class="card-body teacher-content p-25">
					<h4 class="card-title mb-4"><a href="teacher-details.html">Joseph Mack Monika</a></h4>
					<span class="primary-color font-italic d-block mb-3">Languages</span>
					<p class="card-text">We’re a philosophical bunch here at School site and we have thought long and hard about.</p>
					<ul class="list-inline">
						<li><a href="#"><i class="fa fa-facebook"></i></a></li>
						<li><a href="#"><i class="fa fa-twitter"></i></a></li>
						<li><a href="#"><i class="fa fa-dribbble"></i></a></li>
						<li><a href="#"><i class="fa fa-deviantart"></i></a></li>
						<li><a href="#"><i class="fa fa-github"></i></a></li>
					</ul>
				</div>
			</div><!-- card -->
			<div class="card mb-5">
				<img src="~/template/assets/images/teacher/teacher-member4.jpg" alt="image">
				<div class="card-body teacher-content p-25">
					<h4 class="card-title mb-4"><a href="teacher-details.html">Patrick Garner Dony</a></h4>
					<span class="primary-color font-italic d-block mb-3">Economist</span>
					<p class="card-text">We’re a philosophical bunch here at School site and we have thought long and hard about.</p>
					<ul class="list-inline">
						<li><a href="#"><i class="fa fa-facebook"></i></a></li>
						<li><a href="#"><i class="fa fa-twitter"></i></a></li>
						<li><a href="#"><i class="fa fa-dribbble"></i></a></li>
						<li><a href="#"><i class="fa fa-deviantart"></i></a></li>
						<li><a href="#"><i class="fa fa-github"></i></a></li>
					</ul>
				</div>
			</div><!-- card -->
		</div>
	</div>
</div>
<!-- teacher area end -->