@{
	ViewData["Title"] = "Teşekkürler";
	Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="take-toure-area ptb--120">
	<div class="container">
		<div class="row">
			<div class="col-md-8 offset-md-2">
				<div class="section-title sec-style-two">
					<img class="title-top-shape" src="~/template/assets/images/icon/title-top-shape.png" alt="image">
					<span class="text-uppercase">En kısa zamanda dönüş olacaktır</span>
					<h2>İletişime geçtiğiniz için teşekkürler</h2>
				</div>
			</div>
		</div>
	</div>
</div>