@{
	ViewData["Title"] = "Eğitmen Hakkında";
	Layout = "~/Views/Shared/_Layout.cshtml";
}
@await Html.PartialAsync("~/Views/Partials/_TeachersDetailsCrumbsPartial.cshtml")
    <div class="teacher-details pt--120 pb--60">
        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <div class="tch-left-thumb">
                        <img src="~/template/assets/images/teacher/tch-left-thumb.jpg" alt="image">
                    </div>
                </div>
                <div class="col-lg-8">
                    <div class="teacher-contenttchd-content pl-5 pb-5">
                        <h3>Monika</h3>
                        <span>CSE Deperment Head</span>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo <span>inventore</span> veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
                        <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet voluptatem.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- teacher details area end -->
@await Html.PartialAsync("~/Views/Partials/_CtaPartial.cshtml")
