    <!-- header area start -->
<header id="header">
    <!-- header top area start -->
    <div class="header-top">
        <div class="container">
            <div class="row d-flex flex-center">
                <div class="col-sm-9">
                    <div class="ht-address">
                        <ul>
                            <li><a href="mailto:info@zekaatolyesi.com"><i class="fa fa-envelope"></i>info@zekaatolyesi.com</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="ht-address">
                        <ul>
                            <li><a href="tel:+904444444"><i class="fa fa-phone"></i>+ 90 444 4 444</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- header top area end -->
    <!-- header bottom area start -->
    <div class="header-bottom">
        <div class="container">
            <div class="header-bottom-inner">
                <div class="row align-items-center">
                    <div class="col-lg-3 col-sm-9">
                        <div class="logo">
                            <a href="/Home/Index"><img src="~/template/assets/images/icon/logo.png" alt="logo"></a>
                        </div>
                    </div>
                    <div class="col-xl-8 col-lg-7 d-none d-lg-block">
                        <div class="main-menu">
                            <nav>
                                <ul id="m_menu_active">
                                    <li><a href="/Home/Index">ANA SAYFA</a></li>
                                    <li><a href="/Blog/Index">BLOG</a></li>
                                    <li><a href="/Teachers/Index">EĞİTMEN KADROMUZ</a></li>
                                    <li><a href="/About/Index">HAKKIMIZDA</a></li>
                                    <li><a href="/Contact/Index">İLETİŞİM</a></li>
                                    <li class="active">
                                        <a>GİRİŞ YAP</a>
                                        <ul class="submenu">
                                            <li><a href="/Login/Index">GİRİŞ YAP</a></li>
                                            <li><a href="/Register/Index">KAYDOL</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                    <div class="col-12 d-block d-lg-none">
                        <div id="mobile_menu"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- header bottom area end -->
</header>
<!-- header area end -->
<!-- offset search area start -->
<div class="offset-search">
    <form action="#">
        <input type="text" name="search" placeholder="Sarch here...">
        <button type="submit"><i class="fa fa-search"></i></button>
    </form>
</div>
<!-- offset search area end -->
<!-- body overlay area start -->
<div class="body_overlay"></div>
<!-- body overlay area end -->
