@using entity.Concrate
@model Lesson
<div class="contact-form mt-5">
	<form method="post">
		<div class="row">
			<div class="col-md-6">
				<h5 class="mb-2">Ders İsmi</h5>
				@Html.TextBoxFor(x => x.Name, new { @class = "form-control",oninput="isim(this)"})
			</div>
			<div class="col-md-6">
				<h5 class="mb-2">Ders Statüsü</h5>
				@Html.DropDownList("Status", new SelectList(new List<Object>
				{
				new { Value = "true", Text = "Aktif" },
				new { Value = "false", Text = "Pasif" }
				}, "Value", "Text"), "Lütfen ders statüsünü seçiniz...", new { @class = "form-control" })
			</div>
			<div class="col-md-12 text-center">
				<button type="submit">KAYDET</button>
			</div>
		</div>
	</form>
</div>